<div class="mt-2 mb-2">
	<a class="
						btn
						btn-sm
						mr-1
						hvr-pop
						{% if column_id == None %}
						btn-success
						{% else %}
						btn-outline-success
						{% endif %}
						"
		 href="/"
		 role="button"
		 >
		 综合
	</a>
	{% for column in columns %}
	<a class="
						btn
						btn-sm
						mr-1
						hvr-pop
						{% if column.id == column_id %}
							{% if column.title == '编程' %}
							btn-success
							{% elif column.title == '网络安全' %}
							btn-danger
							{% elif column.title == '杂谈' %}
							btn-warning
							{% else %}
							btn-dark
							{% endif %}
						{% else %}
						btn-outline-secondary
						{% endif %}
						"
		 href="?column_id={{ column.id }}"
		 role="button"
		 >
			{{ column.title }}
	</a>
	{% endfor %}
</div>

<nav aria-label="breadcrumb">
	<ol class="breadcrumb" style="background-color: white; padding: 0 0 0 2px; font-size: 0.9em">
		<li class="breadcrumb-item">
			{% if order == 'total_views' %}
				<a href="?order=created-time&column_id={{ column_id }}&tag={{ tag }}"
					 style="color: gray;"
					 class="no-underline hvr-grow-rotate"
				>
				最近
				</a>
			{% else %}
				<span style="color: dimgray">最近</span>
			{% endif %}
		</li>
		<li class="breadcrumb-item">
			{% if order != 'total_views' %}
				<a href="?order=total_views&column_id={{ column_id }}&tag={{ tag }}"
					 style="color: gray;"
					 class="no-underline hvr-grow-rotate"
				>
				热门
				</a>
			{% else %}
				<span style="color: dimgray">热门</span>
			{% endif %}
		</li>
	</ol>
</nav>
