<div class="card mb-4 hvr-glow" style="display: flex">
  <div class="card-body">
    <div id="sidebar" style="overflow: hidden">
      <div class="toc">
        {{ article.toc|safe }}
      </div>
    </div>
  </div>
</div>
<style>
    #sidebar a {
        color: #b8b8b8;
    }

    #sidebar ul {
        list-style-type: none;
    }

    #sidebar div div > ul {
        padding-left: 0;
    }

    #sidebar div div ul ul {
        padding-left: 1em;
    }
</style>

{% block script %}
  <script>
    $(() => {
      $('div.toc a').addClass('hvr-forward no-underline')
    })
  </script>
{% endblock %}
