.typography ul,
.typography ol {
  @apply mb-4 ml-8;
}
.typography li > p,
.typography li > ul,
.typography li > ol {
  @apply mb-0;
}

.typography ol {
    @apply list-decimal;
}

.typography ul {
  @apply list-disc;
}

.typography blockquote {
  @apply border-l-4 border-gray-300 px-4 mb-4;
}

.typography blockquote > p {
  @apply font-mono text-gray-600;
}

.typography p {
  @apply font-serif text-lg mb-4 break-all;
}

.typography img {
  border-radius: 8px;
  margin: auto;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
