.typography ul,
.typography ol {
  @apply mb-4 ml-8;
}
.typography li > p,
.typography li > ul,
.typography li > ol {
  @apply mb-0;
}

.typography ol {
    @apply list-decimal;
}

.typography ul {
  @apply list-disc;
}

.typography p {
  @apply font-serif text-lg;
}

.typography p + p {
  @apply my-4;
}

.typography img {
  border-radius: 8px;
  margin: auto;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
