.typography a:not(:is(h1, h2, h3, h4, h5, h6) a) {
  @apply underline underline-offset-2 decoration-2 decoration-sky-300 hover:decoration-sky-500 transition duration-150 ease-in-out;
}
.typography ul,
.typography ol {
  @apply mb-4 ml-8;
}
.typography li > p,
.typography li > ul,
.typography li > ol {
  @apply mb-0;
}

.typography ol {
  @apply list-decimal;
}

.typography ul {
  @apply list-disc;
}

.typography > blockquote {
  @apply border-l-4 border-gray-300 bg-gray-50 px-4 py-2 mb-4;
}

.typography blockquote > p {
  @apply font-mono text-gray-600 italic;
}

.typography > p {
  @apply font-serif text-lg mb-4 break-all;
}

.typography > h2 {
  @apply text-2xl leading-tight mt-6 mb-4 font-semibold font-serif border-b-2 pb-1 border-sky-400 inline-block;
}

.typography > h3 {
  @apply text-lg leading-snug mt-6 mb-4 font-semibold font-serif border-l-4 pl-2 border-sky-300;
}

.typography > h4 {
  @apply leading-none text-base font-semibold mb-4 mt-6 text-sky-300;
}

.typography > h5 {
  @apply leading-tight text-sm font-semibold mb-4 mt-6;
}

.typography > h6 {
  @apply leading-tight text-sm font-semibold text-gray-600 mb-4 mt-6;
}

.typography figure pre {
  padding: 16px; /* 内边距 */
  border-radius: 8px; /* 圆角 */
  overflow-x: auto; /* 水平滚动条 */
  margin: 16px 0; /* 外边距 */
}

.typography :not(pre) > code {
  background-color: #f5f5f5; /* 背景色 */
  color: #c7254e; /* 文字颜色 */
  padding: 0.2em 0.4em; /* 内边距 */
  border-radius: 4px; /* 圆角 */
  font-family: 'Courier New', monospace; /* 字体 */
  font-size: 0.9em; /* 字体大小 */
}

.typography figure pre[data-theme*=' '],
.typography figure pre[data-theme*=' '] code span {
  color: var(--shiki-light);
  background-color: var(--shiki-light-bg);
}

@media (prefers-color-scheme: dark) {
  .typography figure pre[data-theme*=' '],
  .typography figure pre[data-theme*=' '] code span {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
  }
}

.typography figure pre code[data-line-numbers] {
  counter-reset: line;
}

.typography figure pre code[data-line-numbers] > [data-line]::before {
  counter-increment: line;
  content: counter(line);

  /* Other styling */
  display: inline-block;
  width: 0.75rem;
  margin-right: 2rem;
  text-align: right;
  color: gray;
}

.typography
  figure
  pre
  code[data-line-numbers-max-digits='2']
  > [data-line]::before {
  width: 1.25rem;
}

.typography
  figure
  pre
  code[data-line-numbers-max-digits='3']
  > [data-line]::before {
  width: 1.75rem;
}

.typography
  figure
  pre
  code[data-line-numbers-max-digits='4']
  > [data-line]::before {
  width: 2.25rem;
}

.typography table {
  @apply table-auto w-full;
}

.typography th,
.typography td {
  @apply px-4 py-2;
}

.typography th {
  @apply bg-gray-100 font-semibold text-left;
}

.typography tr:nth-child(even) {
  @apply bg-gray-50;
}

.typography tr:hover {
  @apply bg-gray-200;
}
