{% load notifications_tags %}
{% notifications_unread as unread_count %}

<!-- 定义导航栏 -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <!-- 导航栏商标 -->
    <a class="navbar-brand hvr-grow" href="/">公子政</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        {% if unread_count %}
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 42" width="8px" height="42px">
                <circle cx="4" cy="4" r="4" fill="#ff6b6b" fill-opacity="1.0"></circle>
            </svg>
        {% endif %}
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- 导航入口 -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <!-- 条目 -->
        <li class="
        nav-item
        {% if 'article' in request.path or request.path == '/' %}
         active
        {% endif %}
    ">
              <a class="nav-link mr-2" href="/">
                   文章
              </a>
        </li>
        <li class="
                nav-item
                {% if '/course' in request.path %}
                active
                {% endif %}
                ">
                <a class="nav-link mr-2" href="#">
                    教程
                </a>
            </li>
            <li class="
                nav-item
                {% if '/code' in request.path %}
                active
                {% endif %}
                ">
                <a class="nav-link mr-2" href="#">
                    代码
                </a>
            </li>
            <li class="
                nav-item
                {% if '/loveyou' in request.path %}
                active
                {% endif %}
                ">
                <a class="nav-link mr-2" href="#">
                    绸缪
                </a>
            </li>
            <li class="
                nav-item
                {% if '/aboutme' in request.path %}
                active
                {% endif %}
                ">
                <a class="nav-link mr-2" href="#">
                    关于
                </a>
            </li>
          </ul>
        <ul class="navbar-nav ml-md-auto" style="margin: -5px 0 -5px 0;">
        {% if user.is_authenticated %}
          <!-- 如果用户已经登录，则显示用户名下拉框 -->
          <li class="nav-item dropdown" style="float: right;">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {% if unread_count %}
                    <svg viewBox="0 0 8 8"
                         width="8px"
                         height="8px">
                        <circle cx="4"
                                cy="4"
                                r="4"
                                fill="#ff6b6b"
                                ></circle>
                    </svg>
                  {% endif %}
                  {{ user.username }}
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item hvr-forward" href="{% url "notice:list" %}">通知
                  {% if unread_count %}
                    <span class="badge badge-danger">{{ unread_count }}</span>
                  {% endif %}
                </a>
                  {% if user.is_superuser %}
                    <a class="dropdown-item hvr-forward" href="{% url 'article:article_create' %}">写文章</a>
                  {% endif %}
                <a class="dropdown-item hvr-forward" href='{% url "userprofile:userprofile" user.id %}'>个人信息</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item hvr-forward" href='{% url "account_logout" %}'>退出登录</a>
              </div>
          </li>
        <!-- 如果用户未登录，则显示 “登录” -->
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account_login' %}">登录</a>
          </li>
        <!-- if 语句在这里结束 -->
        {% endif %}
      </ul>
    </div>
</nav>
